
.sign-up-container {
    display: flex;
    flex-direction: column;
    width: 380px;
}

.login-page-container{
    display: flex;
    justify-content: space-around;
    margin: 30px auto;
    width: 900px;
}
h2 {
    margin: 10px, 0;
}